#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-color: var(--bg-color);
    color: var(--paragraph-text-color);
    z-index: 2;
}
.col-sector {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.row-sector {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tmp {
    height: 68px;
}
