/*  */
.index-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.index-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.index-info-title {
    margin-top: 150px;
    font-size: var(--header-font-size);
    color: black;
}
.index-info-title-1 {
    color: red;
}
.index-info-subtitle {
    font-size: var(--subheader-font-size);
    color: var(--subheader-text-color);
    margin-bottom: 20px;
}
.index-info-content {
    font-size: var(--paragraph-font-size);
    color: var(--paragraph-text-color);
    margin-bottom: 20px;
}
.index-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.index-box-top {
    height: 70px;
    background: var(--gradation-bg-color);

    border-radius: 7px;
    width: 450px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.index-box-top-title {
    cursor: pointer;
    font-size: var(--subheader-font-size);
    margin-left: 10px;
    margin-right: 10px;
}
.login {
    color: white;
}
.index-box-mid {
    background-color: var(--callout-bg-color);
    border-radius: 7px;

    width: 450px;
    margin: 0 auto;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.index-box-mid input::placeholder {
    color: gray;
}

.index-box-mid input {
    width: 300px;
    height: 42px;
    border: 0px;
    outline: none;
    margin-top: 10px;
    border-radius: 5px;
    color: black;
    text-indent: 20px;
}
.index-box-mid button {
    cursor: pointer;
    background: var(--gradation-bg-color);
    margin-top: 10px;
    width: 300px;
    height: 45px;
    color: white;

    border: 0px;
    outline: 0px;
    border-radius: 7px;
}
/*  */
