.movie-detail {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    margin-left: 10rem;
    margin-right: 10rem;
}

.movie-detail-card {
    display: flex;
    flex-direction: column;
    background-color: red;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5em;
}

.movie-detail-upbody {
    display: flex;
    justify-content: left;
    background-color:blue;
    padding-top: 1rem;
}

.movie-detail-downbody{
    display: flex;

}

.movie-detail-poster{
    background-color:gray;
    width: 35%;
}

.movie-detail-descriptions{
    display: flex;
    flex-direction: column;
    background-color:pink;
    justify-items: left;
}

.movie-detail-descriptions-top{
    display: flex;
    justify-content: space-between;
}
.movie-detail-title {
    font-size: 40px;
}
.movie-detail-descriptions-top-left{
    display: flex;
    flex-direction: column;
    background-color:rgb(41, 22, 213);

}

.movie-detail-descriptions-top-right{
    display: flex;
    flex-direction: column;
}

#movie-star {
    width: 5%
}

.movie-detail-descriptions-casts{
    background-color:rgb(69, 132, 20);
}

.movie-detail-descriptions-overviews{
    background-color:rgb(219, 225, 40);
}