.movie-detail {
    display: flex;
    background-color: grey;
    flex-direction: column;
    /* background-color: white; */
    margin-left: 10rem;
    margin-right: 10rem;
}

.movie-detail-card {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5em;
}

.movie-detail-upbody {
    display: flex;
    justify-content: left;
    padding-top: 1rem;
}

.movie-detail-downbody {
    display: flex;
    flex-direction: row;
}

.movie-detail-poster {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.movie-detail-descriptions {
    display: flex;
    flex-direction: column;
    justify-items: left;
    padding-top: 2rem;
}

.movie-detail-descriptions-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 18%;
    margin-bottom: 15rem;
}
.movie-detail-title {
    margin-top: 1rem;
    font-size: 40px;
    color: var(--header-text-color);
}

.movie-detail-descriptions-top-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 420%;
    height: 200%;
    padding-left: 4rem;
}

.movie-genres {
    font-size: 16px;
}

.movie-release-date {
    margin-bottom: 1rem;
}

.movie-directors {
    font-size: 22px;
}

.movie-actors {
    font-size: 16px;
}

.movie-detail-descriptions-top-right {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

/* #movie-star {
    margin-top: 1rem;
    width: 10%;
} */

#movie-score {
    font-size: 25px;
}

.movie-detail-descriptions-overviews {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 4rem;
    padding-right: 4rem;
}

.movie-detail-overview-header {
    font-size: 30px;
    margin-bottom: 1rem;
}

.movie-detail-overview-body {
    font-size: 16px;
    text-align: left;
}

#poster {
    height: 650px;
    width: 450px;
    border: solid 1px solid;
}
/* star test */
.movie-star {
    color: orange;
    font-size: 50px;
}
.checked {
    color: orange;
    font-size: 20px;
}
.unchecked {
    font-size: 20px;
}
/* review */
.movie-review-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.movie-reviews-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.movie-reviews {
    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.movie-review {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 20px;
    margin: 10px;
}
.movie-review-left {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.movie-review-right {
    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: start;
}
.movie-review-top {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.movie-review-top-username {
}
.movie-review-top-star {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.movie-review-bottom {
    width: 90%;

    word-wrap: break-word;
    text-align: left;
}
