.popup-view {
    opacity: 0;
    display: none;
    visibility: hidden;
    position: absolute;
}

.popupActive {
    opacity: 1;
    display: block;
    visibility: visible;
    position: absolute;

    border: solid black 1px;
}
.popupBox {
    width: 375px;
    height: 320.5px;
}
.popupImage {
    width: 375px;
    height: 220.5px;
}
.popupContent {
    width: 375px;
    height: 100px;

    background-color: lightgrey;
}
