:root {
    /* bg */
    --bg-color: hsl(0, 0%, 100%);
    /* --bg-color: #240046; */
    --callout-bg-color: hsl(0, 0%, 90%);
    /* text */
    --header-text-color: hsl(0, 75%, 46%);
    --subheader-text-color: hsl(0, 0%, 40%);
    --paragraph-text-color: hsl(0, 0%, 20%);
}
